################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GleacAPI/bin/Debug/netcoreapp3.1
/GleacAPI/obj
